$global-white-color: #FFFFFF;
$global-black-color: #000000;
$global-lightgray-color: #F5F5F5;
$global-gray-color: #8F95A5;
$global-blue-color: #2A3246;
$button-blackblue-color: #263238;
$logo-design-color: #939393;
$mobile-menu-button-color: #39515E;
$price-wrap-color: #EEEEEE;

$global-font: "Poppins", sans-serif;