.about-section {
    padding-top: 84px;
}

.about-section__title {
    @extend %section-title;
    margin-bottom: 24px;

    @media screen and (min-width: $mobile-large-breakpoint) {
        margin-bottom: 23px;
        font-size: 30px;
        line-height: calc(80 / 30);
    }
}

.about-section__image {
    max-width: 283px;
    width: 100%;
    margin-bottom: 23px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile-large-breakpoint) {
        margin-bottom: 25px;
        max-width: 352px;
    }
}

.about-section__text {
    width: 295px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: calc(20 / 13);
    text-align: center;

    @media screen and (min-width: $mobile-large-breakpoint) {
        width: 510px;
        font-size: 14px;
        line-height: calc(21 / 14);
    }
}

.about-section__list {
    @media screen and (min-width: $mobile-large-breakpoint) {
        width: 421px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
}

.about-section__item {
    &:not(:last-child) {
        margin-bottom: 60px;
    }
}

.item-description--accent {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: $global-blue-color;
    text-align: center;
}

.item-description {
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    line-height: calc(20 / 13);
    text-align: center;
}