.container {
    padding-left: 14px;
    padding-right: 14px;

    @media screen and (min-width: $mobile-large-breakpoint) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        padding-left: 39px;
        padding-right: 39px;
    }
}

.section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.button {
    width: 290px;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: $global-white-color;
    background-color: $button-blackblue-color;
    border-style: none;
    border-radius: 5px;
    outline: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}