.hero-section {
    padding-top: 0;
    padding-bottom: 96px;
    text-align: center;

    @media screen and (min-width: $tablet-min-breakpoint) {
        padding-top: 20px;
        padding-bottom: 27px;
        text-align: left;
    }
}

.hero-section__container {
    @media screen and (min-width: $tablet-min-breakpoint) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 22px;
    }
}

.hero-image {
    max-width: 299px;
    width: 100%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            max-width: 424px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        max-width: 352px;
        width: 100%;
    }
}

.hero-title {
    width: 220px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: calc(36 / 24);
    text-align: center;
    color: $global-black-color;

    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            width: 100%;
            margin-bottom: 26px;
            font-size: 34px;
            line-height: calc(45 / 34);
        }
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        position: relative;
        display: flex;
        align-items: flex-end;
        width: 270px;
        margin-left: 0;
        margin-bottom: 25px;
        font-size: 36px;
        line-height: calc(45 / 36);
        text-align: left;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 70px;
            height: 70px;
            // outline: 1px solid blue;
            background-image: url("../images/icons.svg#icon-lamp");
            // background-size: contain;
            // background-origin: border-box;
        }
    }
}

.hero-text {
    width: 292px;
    margin-bottom: 33px;
    margin-right: auto;
    margin-left: auto;
    font-style: normal;
    font-size: 14px;
    line-height: calc(21 / 14);
    text-align: center;

    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            width: 486px;
            margin-bottom: 37px;
            font-size: 16px;
            line-height: calc(24 / 16);
            text-align: center;
        }
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        width: 338px;
        margin-left: 0;
        margin-bottom: 32px;
        font-size: 16px;
        line-height: calc(24 / 16);
        text-align: left;
    }
}

.hero-button {
    @media screen and (min-width: $mobile-large-breakpoint) {
        width: 305px;
        height: 75px;
        font-size: 18px;
        line-height: calc(27 / 18);
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        width: 236px;
        height: 65px;
        
    }
}