.pricing-section {
}

.pricing-section-title {
    @extend %section-title;

    @media screen and (min-width: $mobile-large-breakpoint) {
        font-size: 30px;
        line-height: calc(80 / 30);
        margin-bottom: 54px;
    }
}

.pricing-section__list {}

.pricing-section__item {
    &:not(:last-child) {
        margin-bottom: 63px;
    }
}

.pricing-section__image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;

    @media screen and (min-width: $mobile-large-breakpoint) {
        max-width: 291px;
        width: 100%;
    }
}

.pricing-section__title {
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(28 / 18);
    text-align: center;
    color: $button-blackblue-color;

    @media screen and (min-width: $mobile-large-breakpoint) {
        font-size: 24px;
        line-height: calc(28 / 24);
    }
}

.pricing-section__description {
    width: 272px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
    font-size: 13px;
    line-height: calc(20 / 13);
    text-align: center;
    color: $global-gray-color;

    @media screen and (min-width: $mobile-large-breakpoint) {
        width: 394px;
        font-size: 14px;
        line-height: calc(21 / 14);
    }
}

.pricing-section__price-wrap {
    width: 170px;
    height: 37px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: $price-wrap-color;

    @media screen and (min-width: $mobile-large-breakpoint) {
        width: 205px;
        height: 45px;
    }
}

.pricig-section__price {
    display: inline-flex;
    gap: 18px;    align-items: center;
    font-size: 18px;
    line-height: calc(27 / 18);
    color: $button-blackblue-color;

    @media screen and (min-width: $mobile-large-breakpoint) {
        font-size: 22px;
        line-height: calc(33 / 22);
    }
}

.pricing-section__price-text {
    font-size: 14px;
    line-height: calc(21 / 14);
    color: #546269;

    @media screen and (min-width: $mobile-large-breakpoint) {
        font-size: 16px;
        line-height: calc(24 / 16);
    }
}