.site-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 29px;

    @media screen and (min-width: $mobile-large-breakpoint) {
        padding-bottom: 11px;
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        padding-bottom: 40px;
    }
}

.site-logo {
    font-size: 24px;
    line-height: calc(36 / 24);
    color: $global-black-color;

    & .site-logo--decoration {
        color: $logo-design-color;
    }

    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            font-size: 30px;
            line-height: calc(45 / 30);
        }
    }
}

.mobile-menu-button {
    padding: 0;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 33px;
    height: 100%;
    cursor: pointer;
    border-style: none;
    background-color: $global-white-color;
}

.mobile-menu-icon {
    width: 33px;
    height: 29px;

    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            width: 43px;
            height: 39px;
        }
    }
}