.skills-section__title {
    @extend %section-title;

    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            font-weight: 600;
            font-size: 30px;
            line-height: calc(80 / 30);
        }
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        & {
            margin-bottom: 37px;
        }
    }
}

.skills-section__list {
    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;
        }
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        & {
            gap: 10px;
            justify-content: flex-start;
        }
    }
}

.skills-section__item {
    margin-bottom: 21px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 45px;
    
    background-color: $global-lightgray-color;
    border-radius: 5px;

    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            position: relative;
            width: 240px;
            min-height: 584px;
            margin: 0;
            padding-bottom: 36px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        & {
            width: 224px;
            height: 662;
        }
    }
}

.skills-section__image {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            max-width: 206px;
            width: 100%;
            margin-bottom: 0;
        }
    }
}

.skills-section__item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: calc(80 / 18);
    color: $button-blackblue-color;

    @media screen and (min-width: $tablet-min-breakpoint) {
        & {
            font-style: normal;
            font-size: 20px;
            line-height: calc(80 / 20);
        }
    }
}

.skills-section__item-text {
    // margin-bottom: 32px;
    font-style: normal;
    font-size: 13px;
    line-height: calc(20 / 13);

    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            width: 196px;
            margin-bottom: 20px;
            font-size: 12px;
            line-height: calc(18 / 12);
        }
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        & {
            font-style: normal;
                font-size: 13px;
                line-height: calc(20 / 13);
        }
    }
}

.skills-section__item-button {
    width: 178px;
    height: 50px;

    @media screen and (min-width: $mobile-large-breakpoint) {
        & {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 200px;
            font-size: 14px;
            line-height: calc(21 / 14);
            transform: translate(-50%, -70%);
        }
    }

    @media screen and (min-width: $tablet-min-breakpoint) {
        & {
           width: 178px;
            transform: translate(-50%, -30%);
        }
    }
}